.main-container{
    display: flex;
    justify-content: center;
}
.program-counter{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    position: relative;
    background-color: lightcyan;
}

.program-counter .counter{
    text-align: center;
    font-size: 10em;
    color: hsl(240, 83%, 62%);
}

.program-counter .buttons{
    position: absolute;
    bottom: 25%;
}

.program-counter .buttons .btn{
    background-color: lightpink;
    border-radius: 3px;
    font-size: 1.2em;
    padding: 5px;
    margin: 6px;  
}

.program-counter .buttons .btn:hover{
    background-color: hsl(0, 0%, 91%);
    transition: 0.1s;
}